:root{
  --bg: black;
  --btn-bg: rgba(255, 255, 255, 0.2);
  --call-btn: #0039a6;
  --text: rgb(240, 240, 240);
  --text-alt: rgb(15, 15, 15);
  --text-ter: grey;
  --call-accept: green;
  --call-cancel: crimson;
}

/*-------------Global---------------*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
body{
  background: var(--bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
button{
  cursor: pointer;
}
#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*--------------Video Player----------------*/
.vid-container{
  position: relative;
  width: auto;
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.grid{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
video{
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
}
h5{
  font-size: 20px;
  position: absolute;
  z-index: 2;
  padding: 29.5px;
  color: var(--text);
  user-select: none;
  top: 0;
  text-transform: capitalize;
}
.btns{
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 25px;
  gap: 50px;
  z-index: 2;
}
.mute{
  background: none;
  font-size: 24px;
  border: none;
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
}
.audio-btn, .video-btn{
  width: 65px;
  height: 65px;
  border-radius: 55px;
  background: var(--btn-bg);
  backdrop-filter: blur(3px);
  border: 1px solid var(--btn-bg);
}

/*------Call Settings---------*/
.call{
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  bottom: 25px;
}
.call button{
  width: 55px;
  height: 55px;
  font-size: 24px;
  border-radius: 55px;
  background: var(--btn-bg);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border: 1px solid var(--btn-bg);
  color: var(--text);
  display:  flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.option{
  position: absolute;
  bottom: 95px;
  left: 25px;
  width: 55vw;
  max-width: 300px;
  visibility: hidden;
}
.setting-container{
  background: var(--text);
  padding: 15px;
  border-radius: 5px;
}
form{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
h6{
  font-size: 14px;
  color: var(--text-alt);
}
form div{
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.invite, .call-person{
  background: var(--call-btn) !important;
}
.end-call{
  padding: 6px 15px !important;
  background: var(--call-cancel) !important;
}
.MuiButton-label{
  color: var(--text);
  display: flex;
  align-items: center;
  gap: 20px;
}
.endbtn{
  width: unset;
  transform: unset;
  left: 25px;
  bottom: 95px;
  z-index: 2;
  visibility: hidden;
}
.visible{
  visibility: visible;
}

/*------Preview--------*/
.vid-preview{
  position: absolute;
  width: 180px;
  height: auto;
  bottom: 13.5px;
  right: 15.5px;
  z-index: 2;
}
.vid-preview video{
  outline: 2px solid var(--text);
}
.vid-preview h5{
  font-size: unset;
  padding: 10px;
}
.vid-preview .btns{
  height: 60px;
}
.vid-preview .mute{
  font-size: 18px;
}
.vid-preview .audio-btn, .vid-preview .video-btn{
  width: 36px;
  height: 36px;
}
.mute-indtr{
  position: absolute;
  bottom: 35%;
  color: var(--text-ter);
  left: 13.5%;
  letter-spacing: 0.05em;
}
.audio-indtr{
  position: absolute;
  bottom: 50%;
  color: var(--text-ter);
  left: 13.5%;
  letter-spacing: 0.05em;
}

/*---------Notification bar-------------*/
.ntfn{
  position: absolute;
  top: 25px;
  padding: 20px;
  background: var(--btn-bg);
  backdrop-filter: blur(3px);
  border: 1px solid var(--btn-bg);
  border-radius: 5px;
  gap: 10px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--text);
}
.ntfn h1{
  text-transform: capitalize;
}
.ntfn button{
  background: var(--text);
  border: none;
  width: 55px;
  height: 55px;
  border-radius: 100px;
  color: var(--call-accept);
  font-size: 24px;
}

/*--------call shared link------*/
.redir{
  position: absolute;
  width: 100%;
  max-width: 300px;
  background-color: var(--text);
  padding: 25px;
  z-index: 2;
  top: 57%;
  border-radius: 5px;
}
.redir input{
  font-size: 16px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border:  2px solid var(--text-ter);
  outline: none;
}
.redir input:focus, .redir input:active{
  border: 2px solid var(--call-btn);
}
.redir-call, .redir-cancel{
  margin: 7px auto;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--call-btn);
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: var(--text);
  font-size: 18px;
}
.redir-cancel{
  background-color: var(--call-cancel);
  display: none;
}
.redir-box-cls{
  position: absolute;
  border: none;
  background: none;
  color: var(--call-cancel);
  font-weight: 600;
  font-size: 18px;
  top: 3.5px;
  right: 5px;
}

/*---------------responsive----------------*/
@media screen and (max-width:575px) {
  .vid-preview{
    width: 150px;
    bottom: 80px;
  }
  .vid-preview h5{
    font-size: 16px;
  }
  .audio-indtr{
    font-size: 12px;
    bottom: 50%;
  }
  .mute-indtr{
    font-size: 12px;
    bottom: 35%;
  }
}
@media screen and (max-width:425px) {
  .vid-preview{
    width: 120px;
  }
  .vid-preview h5{
    font-size: 12px;
  }
  .audio-indtr, .mute-indtr{
    font-size: 10px;
  }
}
@media screen and (max-width:385px) {
  .btns{
    gap: 25px;
  }
  .audio-btn, .video-btn{
    width: 55px;
    height: 55px;
    font-size: 22px;
  }
}
@media screen and (max-width:375px) {
  .ntfn{
    padding: 10px;
  }
  .ntfn h1{
    font-size: 24px;
  }
}
@media screen and (max-width:310px) {
  .btns{
    gap: 15px;
  }
  .audio-btn, .video-btn{
    width: 45px;
    height: 45px;
    font-size: 18px;
  }
  .call button{
    width: 45px;
    height: 45px;
    font-size: 18px;
  }
}
@media screen and (max-width:290px) {
  .ntfn h1{
    font-size: 20px;
  }
  .ntfn button, .mute{
    width: 45px;
    height: 45px;
    font-size: 18px;
  }
}